<ion-header [translucent]="true">
  <ion-toolbar color="bluegreen">
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
  <ion-segment value="all">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-label>Favorites</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
  <ion-item>
    <ion-list>

      <ion-item>
        <ion-select aria-label="Fruit" interface="popover" placeholder="Select fruit">
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-button expand="block" (click)="presentToast('bottom')">Present Toast At the Bottom</ion-button>
  </ion-item>
  <ion-item>

  </ion-item>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end" color="ligth">
  <ion-fab-button color="ligth">
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="success">
      <ion-icon name="body-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="warning">
     <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="danger">
      <ion-icon name="bag-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
